#hamburger {
  display: none;
}

#hamburgerCheckbox {
  height: 30px;
  width: 38px;
  top: 20px;
  right: 25px;
  position: absolute;

  display: block;
  z-index: 5;
  /* jest wyświetlany nad elementami o mniejszym priorytecie*/
  opacity: 0;
  /* wyłączenie widoczności elementu*/
  cursor: pointer;
}

.hamburger-lines {
  height: 27px;
  width: 33px;
  top: 17px;
  right: 25px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s;
}

.hamburger-lines .line2 {
  transition: transform 0.2s;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s;
}

/* ~  pozwala bez użycia java scriptu zmienić styl danego elemenu na zasadzie toggle po akcji
     w tym przypadku po zaznaczeniu checkboxa, który jest ukryty pod przyciskiem od menu
     nie jest to zrobione w js poniewaz tak jest prosciej :)  
 */

#hamburgerCheckbox:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

#hamburgerCheckbox:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

#hamburgerCheckbox:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
} 