@media screen {
    *{
        overflow-x: hidden;  
    }

li {width: 100%;}
}
@media screen and (max-width: 1000px ) and (min-width :750px){

    #hamburger{
        display: block;
    }
    nav ,header{
        font-size:140%;
    }
    section,footer,aside{
        font-size: 110%;
      
    }
    .navBar{
        transition: 0.5s;flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
       
        top: 3rem;
        background-color: var(--secondaryColor);
        width: 161px;
        /* transform: translate(454px, 481px); */right: -10.925rem;
        height: 100%;
        /* padding-top: 6%; */
    }
    .navButton:hover{
          padding: 30px;
    }
    
    .showNavigation{
        right: 0rem;
        /* top: 3rem; *//* transition: 0.2s; */
      /* transform: translate(100%, 57px); */}
      
    
}

@media screen  and (min-width: 350px)and (max-width: 750px){
    #hamburger{
        display: block;
    }
    nav ,header{
        font-size:140%;
    }
    section,footer,aside{
        font-size: 110%;
      
    position: fixed;}
    .navBar{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
       
        top: 3.7812rem;
        background-color: var(--secondaryColor);
        
        right: -66rem;
        height: 034;
        width: 100%;/* padding-top:9% ; */
    }

ul.navBar.showNavigation {}
    .navButton{
          border-top: 1px solid black; 
    }
    
    .showNavigation{
        right: 0rem;
        
      /* overflow-x: visible; */}
      
    
}
@media screen and (max-width: 350px) {
    *{
        font-size: 23px;
    }

nav {/* width: 100%; */}

footer {position: fixed;}

li {
    
    
    
    
    
    
    
    
    width: 100%;border: 1px solid aliceblue;}

header {/* flex-basis: auto; */flex-direction: column;}

header {padding: 0;}

nav {padding: 0;}

li {}

.navButton {padding: 1rem;/* display: table-caption; */}

a.navButton {}

#logo {display: none;}

#hamburger {display: none;}

.hamburger {display: block;}

.navBar {flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* position: relative; */
    /* top: 0; */
    background-color: var(--secondaryColor);
    /* width: 100%; */
    /* right: 3rem; */
    height: 034;
    /* padding-top: 9%; */}

ul.navBar {}

ul.navBar {}
    input[type ="submit"], input[type = "reset"], button {
        font-size: 20% ;  
     }
}