header {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryColor);
  padding: 0 1%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  transition: 0.5s;
}

nav li {
  width: 100%;
  list-style: none;
}

.navButton {
  display: block;
  text-decoration: none;
  padding: 25px 39px;
  transition: 0.3s;
  color: var(--actionColor);
}

.navButton:hover,
.navivagionHoverLook {
  box-shadow: 0 4px 0px var(--primaryColor);
  transform: translate(0px, -10px);
  color: var(--primaryColor);
}

#logo {
  display: block;
}

#logo img {
  display: block;
  width: 100%;
}

#logoutButton:hover {
  box-shadow: 0 4px 0px red;
  transform: translate(0px, -10px);
}

#logoutButton {
  color: red;
}
table td:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}