body,
html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parallax {
  background-image: url('../ICONS/background.jpg');
  min-height: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-origin: border-box;
  ;
  overflow: hidden;
}

.blur {
  filter: blur(1rem);

  margin: 0;
}

.background2 {
  background-image: url('../ICONS/wp11144495-minimalist-4k-blue-wallpapers.jpg');
  width: 1080px;
  height: 1280px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#textLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10%;
}


.box {
  background-color: #ff737e;
  width: 100%;
  height: max-content;
  padding: 3%;

  font-size: 2rem;
  text-align: center;
  color: #fff;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  position: relative;
}

.box2 {
  position: fixed;
  background-color: #ff737e;
  width: 100%;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  bottom: 0;
  padding-bottom: 1%;
}
.box2 td{
  font-size: 0.9rem;
}

.backgroundBox {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin: auto;
  margin-top: 100px;
}



#comments {
  display: block;
  width: auto;
  margin: 1%;
  padding: 1%;
}

td {
  text-align: center;
  width: max-content;
  height: 70px;
  margin: 5%;
  border: 1px solid var(--secondaryColor);
  border-radius: 8px;
  padding: 10px;
  object-fit: cover;
}

tbody {
  margin: 1%;
}

#tableTitle {
  border: none;
}

table tr {
  width: 100%;
  width: max-content;
  margin: 5%;
  padding: 1%;
}

table td #largeTd {
  width: fit-content;
}

table{
  table-layout: fixed;
}

td{
  word-wrap:break-word
}
.slider {
  width: 50%;
  margin: 100px auto;
} 
.slick-slide {
  margin: 0px 20px;
}
