/* Klasa odnosząca się do całego dokumentu HTML
    -- "globalne" zmienne, których możemy używać z funkcją var()
    raz zdefiniowane mogą zostać użyte także w innych plikach css
 */
* {

    --primaryColor: #b4cfea;
    --secondaryColor: #4d56b9;
    --actionColor: #009FFF;
    font-size: 16px;
    font-family: 'Nuosu SIL', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    /* odwołanie się już ustawione koloru pierwszoplanowego */
     font-size: 1.5rem; 
    /*czcionka strony jest ustawiona na 16px, używająć rem odwołujemy się do wartości czcionki dla całej strony
    , w tym przypadku 1 * 16px =16px, pozwala to zachować proporcje na całej stronie*/

     margin: 0; 
     padding: 0; 
    min-height: max-content;
    margin-bottom: 3rem;
}

body::-webkit-scrollbar {
    width: 0.50rem;
}

/*kolor tła scrolla */
body::-webkit-scrollbar-track {
    background: var(--primaryColor);
    
}

/*kolor  scrolla */
body::-webkit-scrollbar-thumb {
    /*kolor całego scrolla */
    background: var(--secondaryColor);
    border-radius: 8em;
}

footer {
    width: 100%;
    position: fixed;
    background-color: var(--secondaryColor);
    bottom: 0;
    /* margin-bottom: 38rem; */
    /* height: 50px; */
    /* flex-shrink: 0; */
    /* clear: both; */
    /* margin-top: -50px; */
}